@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');
html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans 3",sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
/* track */
::-webkit-scrollbar-track {
    background: #e8e8e0;
}
/* handle */
::-webkit-scrollbar-thumb {
    background:#888 ;
}
/* handle on hover */
::-webkit-scrollbar-track:hover {
    background: #555;
}